[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
python-dotenv = "*"
nltk = "*"
transformers = "*"
torch = "*"
sentence-transformers = "*"
pytorch-lightning = "*"
omegaconf = "*"
hydra-core = "*"
neptune-client = "*"
datasets = "*"
rouge-score = "*"
sacrebleu = "*"
wandb = "*"
streamlit = "*"
psutil = "*"
evaluate = "*"
sparqlwrapper = {git = "https://github.com/rdflib/sparqlwrapper"}

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12.3"
